/* #pas-title{
    margin-top: 5%;
} */

/* .what-is-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

/* .cont-1{
    display: flex;
    flex-direction: flex-start;
    justify-content: spa;
    width: 93vw;
    border: solid black;
    text-align: center;
    background-color: rgb(222, 245, 253);
    margin-top: 2%;
    box-shadow: 20px 20px 2px 1px rgba(0, 0, 255, .2);
}
.cont-2{
    margin-top: 20%;
    width: 100vw;
    display:inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 20px;
}
.cont-3{
    display:inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: pink;
}

.title-1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
.cont-1 p{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.what-is-p{
    display: flex;
    flex-direction: column;
    align-items: center;

} */

/* #fairShare{
    height: 100%;
    width: 80%;
} */

.about-container{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.about-ne2{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    /* flex-direction: column; */
}
.about-ne2 p{
   font-size: 160%;
   width: 50%;
   font-weight: 100;
   /* padding-top: .5%; */
   padding-left: 1%;
   padding-right: 1%;
}
.about-ne2 p span{
  font-weight: bold;
  font-size: 110%;
}

#friend{
    width: 50%;
    height: 95%;
    border: solid black;
    margin-left: 1%;
}

.services-container{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    height: 80%;
    /* flex-direction: column; */
}

.services-about{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55%;
    margin-top: 2%;
}
.services-about li{
    font-size: 90%;
    padding-right: 2%;
}
.services-about li span{
    font-weight: bold;
}

#services-next{
    width: 52%;
    height: 84%;
    border: solid black;
    margin-top: 3%;
    margin-right: 1%;
}

.services-about h2{
    font-weight: 300;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    .about-ne2{
        display: block;
        margin-top: 0%;
        text-align: center;
    }

    #friend{
        width: 100%;
        margin-left: 0%;
        height: auto;
    }

    .about-ne2 p {
        font-size: 160%;
        width: 100%;
        font-weight: 100;
        /* padding-top: .5%; */
        /* padding-left: 1%;
        padding-right: 1%; */
    }

    .services-container {
       display: block;
    }

    .services-about {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 2%;
        border-top: solid black;
    }
    #services-next {
        width: 100%;
        height: auto;
        border: solid black;
        /* margin-top: 3%; */
        /* margin-right: 1%; */
    }
    
}





