
h3, p{
    color: black;
    font-weight: 100;
}

.accord-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.newburgh_container{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#img_proj{
    width:100%;
    height: 520px;
}

.title-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accord-info{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}


.accord-stats{
    display: flex;
    justify-content: space-around;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: 300;
    margin-bottom: 1%;
}

.stat{
    font-size: 75%;
}

#proj_name{
    font-weight: 200;
}

#proj_location{
    font-weight: lighter;
}

#newburgh_proj{
    width: 100%;
    height: 600px;
}

.title-img-newburgh{
    width: 100vw;
}