/* 
h3, p{
    color: black;
    font-weight: 100;
}

.accord-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.newburgh_container{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#img_proj{
    width:100%;
    height: 520px;
}

.title-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accord-info{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}


.accord-stats{
    display: flex;
    justify-content: space-around;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: 300;
    margin-bottom: 1%;
}

.stat{
    font-size: 75%;
}

#proj_name{
    font-weight: 200;
}

#proj_location{
    font-weight: lighter;
}

#newburgh_proj{
    width: 100%;
    height: 600px;
}

.title-img-newburgh{
    width: 100vw;
} */

/* ================================================= */

/* .accord-main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
} */

.top-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#carousel-hero {
  /* object-fit: cover;
    object-position: center; */
  height: 80vh;
  width: 96vw;
  overflow: hidden;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  border: solid black;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#proj-info {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  margin-top: 2rem;
}

.proj-text {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.a-column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 50vw;
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding-top: 2rem; */

}

.a-column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50vw;
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding-top: 2rem; */
}

/* .carousel-item > img{
    height: 100%;
    width: 100%;
} */
