.contact-container{
    display: flex;
    width: 100vw;
    height: 91vh;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.top-container{
    height: 55vh;
    width: 100vw;
    /* background-image:url("../../../public/images/contact-bg.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.bottom-container{
    height: 36vh;
    display: flex;
    width: 100vw;
}

#bg{
  height: 100%;
  width: 100%;  
}

.contact{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border-right: solid black;
    border-width: 1px;
    padding-top: 0.5%;
}

.c-title{
font-size: 45px;
font-weight: 100;
}

button{
    height: 20%;
    width: auto;
    margin-bottom: 2rem;
}

.email{
    display: flex;
    justify-content: center;
    width: 100%;
}

.phone{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.phone p{
    font-size: 2.5rem;
    font-weight: 100;
}
.email p{
    font-size: 2rem;
    font-weight: 200;
}

.appt{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-top: 0.5%;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services li{
    font-size: 80%;
}