.about-container {
  background-color: white;
  height: 100vh;
}

#portrait {
  height: 25rem;
  border-radius: 50%;
}
.firm-intro {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8) 10%,
      rgba(0, 0, 0, 0.75) 40%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0.2) 20%
    ),
    url("/src/assets/images/livingRoom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 78vh;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.firm-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firm-title {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  color: white;
  font-size: 3rem;
  /* padding-top: 5rem; */
}

.firm-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  width: 80vw;
  text-align: center;
  list-style: none;
}

.firm-container {
  background-color: #f2e9dc;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  margin: 0;
  width: 100vw;
}

#firm-heading {
  height: 20rem;
  width: 45rem;
}

/* .about-ne2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
.about-ne2 p {
  font-size: 140%;
  width: 50%;
  font-weight: 100;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0%;
}

.about-ne2 p span {
  font-weight: bold;
  font-size: 110%;
} */

/* #friend {
  width: 40%;
  height: 90%;
  border: solid black;
  margin-top: 1%;
  margin-left: 2%;
} */

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .about-ne2 {
    display: block;
    margin-top: 0%;
    text-align: center;
  }

  #friend {
    width: 100%;
    margin-left: 0%;
    height: auto;
  }

  .about-ne2 p {
    font-size: 160%;
    width: 100%;
    font-weight: 100;
    /* padding-top: .5%; */
    /* padding-left: 1%;
        padding-right: 1%; */
  }

  .services-container {
    display: block;
  }

  .services-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    border-top: solid black;
  }
  #services-next {
    width: 100%;
    height: auto;
    border: solid black;
    /* margin-top: 3%; */
    margin-right: 0%;
  }

  .service-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #passive-logo {
    border: solid black;
    width: 100%;
  }
}
