.about-container {
  background-color: white;
  height: 100vh;
}

#portrait {
  height: 25rem;
  border-radius: 50%;
}

.firm-intro {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8) 10%,
      rgba(0, 0, 0, 0.75) 40%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0.2) 20%
    ),
    url("/src/assets/images/livingRoom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 78vh;
  width: 100%;
  text-align: center;
  /* padding-top: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.firm-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.firm-title {
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  color: white;
  font-size: 3rem;
  /* padding-top: 5rem; */
}

.firm-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  width: 80vw;
  text-align: center;
  list-style: none;
}

.firm-container {
  background-color: #f2e9dc;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  margin: 0;
  width: 100vw;
}

#firm-heading {
  height: 20rem;
  width: 45rem;
}

.firmP{
font-family: 'Roboto Condensed', sans-serif;
color: white;
text-align: center;
}

/* .about-ne2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
.about-ne2 p {
  font-size: 140%;
  width: 50%;
  font-weight: 100;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0%;
}

.about-ne2 p span {
  font-weight: bold;
  font-size: 110%;
} */

/* #friend {
  width: 40%;
  height: 90%;
  border: solid black;
  margin-top: 1%;
  margin-left: 2%;
} */

@media screen and (max-width: 414px) {
#firm-heading{
  height: 10rem;
  width:21rem;
}

.firm-text{
  padding-top: 7rem;
}

#portrait{
  height: 18rem;
  width: rem;
}


.firmP{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  font-size: x-large;
  }
/* 
  .list-outside{
    padding: 0 !important;
  } */

}

/* IPHONE SE AND SMALLER */
@media screen and (max-width: 375px) {
  .firmP {
    font-size: 1.2rem;
  }
}