* {
  font-family: "Roboto Mono", monospace;
}
.what-is {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  border-bottom: solid black;
}

.fair-share {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  border-bottom: solid black;
}

#model-fair{
    max-width: 50%;
    max-height: 50%;
}

/* h1 {
  font-weight: 200;
  font-size: 3.5rem;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
} */

p {
  font-size: 1.2rem;
  padding-left: 1%;
}
