.about-container {
  background-color: white;
  height: 100vh;
}

.tagline {
  color: 'white';
  font-size: '2rem';
  font-weight: 'bold';
}


.firm-outside-container {
  width: 100vw;
}

#portrait {
  height: 25rem;
  border-radius: 50%;
}

.firm-intro {
  background: linear-gradient(rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url("/src/assets/images/new_splash_img_2.JPG");
  /* background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.9)
    ),
    url("/src/assets/images/new_splash_img.JPG"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 78vh;
  min-height: 59rem;
  width: 100%;
  text-align: center;
  /* padding-top: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 5rem; */
}

.firm-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firm-title {
  font-family: "Roboto", sans-serif;
  font-weight: light;
  color: white;
  font-size: 3rem;
  /* padding-top: 5rem; */
}

.firm-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  width: 80vw;
  text-align: center;
  list-style: none;
}

.firm-container {
  background-color: #f2e9dc;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  margin: 0;
  width: 100vw;
}

#firm-heading {
  height: auto;
  width: 35rem;
}

.about_ne_home {
  width: 100%;
  max-width:900px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: left;
  font-size: 18px;
}

.border {
  width: 30%;
  height: 3px;
  /* Adjust the height to control the thickness of the border */
  background-color: white;
  /* Set the color of the border */
}

@media screen and (max-width: 715px) {
  #firm-heading {
    width: 80%;
  }
}

/* IPHONE SE AND SMALLER */
/* @media screen and (max-width: 375px) {
  .firmP {
    font-size: 40%;
  }
} */


@media screen and (min-width: 1339px) {
.about_ne_home{
font-size: 20px;

}

}

@media screen and (min-width: 1940px) {
.firm-intro{
  height: 1310px;
  background-size: cover;
}

}