.project-main {
  display: flex;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .project-main {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    height: auto;
  }

  .btn {
    width: 90vw;
    margin: 0;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 19rem;
    min-width: 12rem;
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
  }

  .img-overlay {
    border-radius: 0px;
    opacity: 1;
  }
}


