
.services-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-container{
    background-color: #F2E9DC;
    background-color: black;
    margin: 0;
    width: 100vw;
}

.services-about{
    width: 100vw;
}


.services-title {
    font-family:'Roboto Mono', monospace;
    font-weight: lighter;
    color: white;
    font-size: 5rem;
}

.services-list-item{
    color: white;
    font-family:'Roboto Mono', monospace;
    font-size: 1.5rem;
    width: 50vw;
    text-align: center;
    list-style: none;
}

#building{
    color: white;
    size:15rem;
}
