.services-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-container {
  background-color: #f2e9dc;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  margin: 0;
  width: 100vw;
}

.services-about {
  width: 100vw;
}

.services-title {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 3rem;
  /* padding-top: 5rem; */
}

#services-heading {
  padding-top: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 4rem;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  width: 80vw;
  text-align: center;
  list-style: none;
}

.servicesP {
  color: white;
  /* width: 60rem; */
}

.border {
  width: 200px;
  align-items: center;
}

/* #services-top {
  height: 50vh;
  width: 100vw;
  
} */

.services-intro {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.93) 10%,
      rgba(0, 0, 0, 0.85) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.1) 20%
    ),
    url("/src/assets/images/heroCROP.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 78vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center; */
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding-left: 4rem;
}

#ne-mission {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .services-outside-container {
  width: 100vw;
} */

@media only screen and (max-width: 960px){
  .services-intro {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.92) 20%,
        rgba(0, 0, 0, 0.85) 35%,
        rgba(0, 0, 0, 0.1) 66%,
        rgba(0, 0, 0, 0.1) 29%
      ),
      url('../../assets/images/heroCROP.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-position: center;
  }

  .services-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #ne-mission {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    text-align: center;
    /* margin: 0; */
    padding: 0 5px 0 5px;
  }

  .servicesP {
    font-size: 1.2rem;
    width: 96vw;
  }

  /* #ne-mission {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
  } */

  /* .services-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  } */
}

/* IPHONE SE AND SMALLER */
@media screen and (max-width: 375px) {
  .servicesP {
    font-size: 1.1rem;
  }


}
