.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid black;
  width: 12rem;
  /* top: 0; */
  min-width: 12rem;
  height: auto;
  padding-top: 0.5rem;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.btn {
  height: 5rem;
  width: 9rem;
  margin-top: 80px;
  margin-bottom: 0rem;
  padding: 0;
  /* box-shadow: 2px; */
}

@media screen and (max-width: 960px) {
  .btn {
    height: 3rem;
    margin-top: 0px;
  }

  .link {
    height: 2px;
  }

  .button-container {
    padding-bottom: .5rem;
    height: 32vh;
  }
}
