.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid black;
  width: auto;
  /* top: 0; */
  min-width: 11rem;
  height: auto;
  padding-top: 0.5rem;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.button-container button{
  width: 90%;
  padding: 0;
  /* box-shadow: 2px; */
}

.btn {
  height: 5rem;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0rem;
  padding: 0;
  /* box-shadow: 2px; */
}



@media screen and (max-width: 414px) {
  .btn {
    height: 3rem;
    margin-top: 0px;
  }

  .link {
    height: 2px;
  }

  .button-container {
    padding-bottom: .5rem;
    height: 32vh;
  }
}

@media screen and (min-width: 415px) and (max-width: 820px) {
.btn {
  height: 3rem;
  margin-top: 0px;
}

.button-container {
  padding-bottom: .5rem;
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 19rem;
    min-width: 12rem;
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
}


}