
h1{
  font-family: "Roboto Mono", monospace;
  font-weight: 100! important;
  text-align: center;
  text-decoration: none;
}


.rounded-0  {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.container-fluid{
  background-color: white;
}

.proj-img{
  height: 50%;
  width: 50%;
}
/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
} */
