/* .rounded-0 {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
} */

.rounded-0:hover {
  transform: scale(1.05);
}

#card-main{
  height: 100vh;
  overflow: scroll;
  padding-left: .7rem;
  width: 100vw;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  padding-bottom: 1rem;
  /* background-image: url('../assets/images/heroCROP.png'); */
  background: linear-gradient(rgba(124, 119, 119, 0.1), rgba(0,0,1,1));
}

/* .container-fluid {
  background-color: white;
  padding-bottom: 5.2%;
  width:90vw;
  background: whitesmoke;
} */

.proj-img {
  /* height: 16rem; */
  top: 0;
  /* width:33rem; */
  height: 16rem;
  margin: 0;
  /* object-fit: cover; */
  /* width: 100%; */
  
}

.proj-title {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 1;
  z-index: 999;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 100;
  border-radius: 5px;
  
}

.img-overlay > * {
  transform: translateY(20px);
  transform: 0.25s;
}

.img-overlay:hover {
  opacity: 1;
  font-family: "Roboto Condensed", sans-serif;
}

/* means every direct child of... */

.img-overlay:hover > * {
  /* transform: translateY(0); */
  transition: 0.25s;
  font-family: "Roboto Condensed", sans-serif;
}

.img-title {
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
}
/* 
.img-description {
  font-size: 1.25 em;
  margin-top: 0.25em;
} */

#card {
  width:33rem;
  height: 16rem;
  background-color: transparent;
  box-shadow: 5px 10px;
  font-family: "Roboto Condensed", sans-serif;
}


/* iPhone XR, Galaxy s20, Ipad Air, Ipad Mini, Surface pro 7, Galaxy A51*/
@media only screen and (min-device-width: 280px) and (max-device-width: 1200px) {

}
