h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 100 !important;
  text-align: center;
  text-decoration: none;
}

.rounded-0 {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.container-fluid {
  background-color: white;
}

.proj-img{
  height: 100%;
  opacity: 0.7;
}

.proj-title {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  opacity: 1;
  z-index: 999;
}
.card-img-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, black, gray);
  opacity: 0.3;
  z-index: 998;
}

.card h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 1;
  text-align: center;
  z-index: 999;
}

.title-overlay{
  z-index: 999;
  color: azure;
}



/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
} */
