.outside-form{
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}

input {
  width: 40rem;
}

textarea {
  width: 40rem;
  height: 10rem;
}

form > label{
    text-align: left;
}

.errors{
  color: red;
}


#modal-title{
  font-family: "Roboto Condensed", sans-serif;
}


.modal-content{
  height: 10rem;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}
