.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
    background: cornflowerblue;
    cursor: pointer;
}

.dropdown-menu li:hover {
background: coral;
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;

}


