#empty-container {
  background: linear-gradient(rgba(124, 119, 119, 0.1), rgba(0, 0, 1, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#empty-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}
