.footer-container {
  margin-top: auto;
  position: relative;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 10%;
}

.contact-content p {
  color: white;
}
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 100%;
  width: auto;
}

.footer-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phone p {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  font-size: 70%;
  margin-bottom: 0%;
}

.follow {
  margin-bottom: 0%;
  /* margin-left: 2%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid white 0.75px;
  align-items: center;
}

.follow p {
  margin-bottom: 0%;
  margin-left: 0%;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-family: "Roboto Condensed", sans-serif;
  /* width: 100%; */
}

.footer-content p {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 80%;
}

.icons {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  width: 100%;
  justify-content: space-between;
}

.icons a {
  text-decoration: none;
}

#insta {
  /* padding-right: 10px; */
}

/* #facebook{
  padding-left: 10px;
} */

.footer-text {
  display: flex;
  flex-direction: row;
}
.footer-text p {
  color: white;
  font-size: 10%;
}

.copyright {
  font-weight: 100;
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 960px) {
  .footer-container {
    /* margin-top: auto; */
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 79px;
    /* position:fixed; */
    left: 0;
    bottom: 0;
    right: 0;
  }
}
