#logo {
  padding: 12px 0 10px 10px;
  /* height: 70%; */
  width: 70%;
}

/* .navbar-logo {
  padding-bottom: 2rem;
} */

.navigation {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background: black;
  height: 4rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 0 !important; */
}

.nav-item-wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 20rem;
}

.aboutProj {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 150;
  color: white;
  padding-bottom: 0;
  padding-right: 0.5rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: flex;
  align-items: flex-end;
  height: 4rem;
  list-style: none;
  margin: 0;
  padding-bottom: 0rem;
  width: 25rem;
}

.navigationItem {
  display: flex;
  align-items: center;
  /* height: 50px; */
  color: white;
  /* padding: 2rem 2rem 0rem 2rem; */
  font-family: "Roboto Mono", monospace;
}
.aboutProj:hover {
  color: cornflowerblue;
  /* border-radius: 2px; */
  width: auto;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: white;
  /* border-radius: 4px; */
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

#projNavbar {
  text-decoration: none !important;
}

.dropdown {
  position: relative;

}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem;
  width: 10rem;
  /* height: 15rem; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
}

.dropdown.active .dropdown-menu {
  display: block;
  background-color: black;
}

.fa-caret-down.active {
  transform: rotate(180deg);
}

.dropdown-item {
  font-size: 16px; /* Example font size */
  color: white !important;
  /* padding: 0.25rem 0.5rem; */
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  color: black !important;
}

@media screen and (max-width: 960px) {
  #logo {
    /* height: 60%; */
    width: 80%;
    /* height: 50px; */
    padding-top: 0.5rem;
  }
  .aboutProj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigationItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    top: 65px;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    /* padding-top: 100px; */
    z-index: 999;
  }


  .nav-item-wrapper{
    height:500px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navigationLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navigationLinks:hover {
    background-color: black;
    /* border-radius: 0; */
    color: #242222;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    /* border-radius: 4px; */
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }

}
