/* #pas-title{
    margin-top: 5%;
} */

.what-is-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cont-1{
    display: flex;
    flex-direction: flex-start;
    justify-content: spa;
    width: 93vw;
    border: solid black;
    text-align: center;
    background-color: rgb(222, 245, 253);
    margin-top: 2%;
    box-shadow: 20px 20px 2px 1px rgba(0, 0, 255, .2);
}
.cont-2{
    margin-top: 20%;
    width: 100vw;
    display:inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 20px;
}
.cont-3{
    display:inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: pink;
}

.title-1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
.cont-1 p{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.what-is-p{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#fairShare{
    height: 100%;
    width: 80%;
}

